@import "./Page.css";

.tabs-content {
    background-color: var(--background);
    padding: 0.375rem;
    display: flex;
    justify-content: space-between;
    column-gap: 0.5rem;
    margin-top: 60px;
}

.tabs-button {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    transition: 0.3s;
    border-radius: 0.5rem;
    background-color: var(--tab-button-bg);
    color: var(--foreground);
    cursor: pointer;
}

.tabs [data-content] {
    display: none;
}

[data-content].is-active {
    display: grid;
}

.tabs-button.is-active {
    background-color: var(--accent);
    color: var(--foreground);
}

.tabs-container {
    margin: 0 2.5rem
}

.container-service-card {
    display: flex;
    flex-wrap: wrap;
}