:root {
  --light-doctor-card: #ffffff;
  --dark-doctor-card: #171717;
}

[data-theme='light'] {
  --doctor-card-bg: var(--light-doctor-card);
  --doctor-card-fg: var(--dark-doctor-card);
}

[data-theme='dark'] {
  --doctor-card-bg: var(--dark-doctor-card);
  --doctor-card-fg: var(--light-doctor-card);
}

.doctor-card {
  position: relative;
  max-width: 380px;
  width: 100%;
  border-radius: 24px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--doctor-card-bg);
  margin: 0 10px 20px 20px;
}

.doctor-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px 24px 0 0;
  height: 36%;
  width: 100%;
  background-color: var(--accent);
}

.doctor-picture {
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: var(--accent);
  padding: 3px;
}

.doctor-picture .doctor-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #faebd7;
}

.doctor-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.doctor-details .doctor-name {
  font-size: 23px;
  font-weight: 500;
  margin-top: 20px;
}

.doctor-details .doctor-specialization,
.doctor-details .doctor-experience,
.doctor-details .doctor-office {
  margin: 3px 0;
  font-size: 16px;
  font-weight: 400;
}

.action-button {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.action-button button {
  background-color: var(--accent);
  padding: 12px;
  margin: 0 18px;
  color: var(--doctor-card-fg);
  border-radius: 25px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}