.doctors-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin: 120px 0 0 0; 
}

.no-doctors-message {
    margin-left: 45%;
    margin-top: 15%;
}