:root {
  --light-filter-doctor: #ffffff;
  --dark-filter-doctor: #171717;
}

[data-theme='light'] {
  --filter-doctor-bg: var(--light-filter-doctor);
  --filter-doctor-fg: var(--dark-filter-doctor);
}

[data-theme='dark'] {
  --filter-doctor-bg: var(--dark-filter-doctor);
  --filter-doctor-fg: var(--light-filter-doctor);
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.filter-box {
  background-color: var(--filter-doctor-bg);
  color: var(--filter-doctor-fg);
  padding: 20px;
  border-radius: 25px;
  width: 400px;
}

.filter-box h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.filter-input-group {
  margin-bottom: 20px;
}

.filter-input-group label {
  display: block;
  margin-bottom: 18px;
}

.filter-input-group input[type="text"] {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--filter-doctor-bg);
  color: var(--filter-doctor-fg);
  margin-bottom: 25px;
}

.filter-input-group input[type="text"]::placeholder {
  font-size: 18px;
  color: var(--filter-doctor-fg);
}

.filter-checkbox-group {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: space-between;
}

.filter-checkbox-group label {
  font-size: 18px;
  color: var(--filter-doctor-fg);
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.filter-checkbox-group input[type="checkbox"] {
  display: none;
}

.filter-checkbox-group input[type="checkbox"]+span {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.filter-checkbox-group input[type="checkbox"]+span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 2px solid var(--filter-doctor-fg);
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.filter-checkbox-group input[type="checkbox"]:checked+span::before {
  content: "✔";
  background-color: var(--accent);
  border-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-input-group {
  margin-bottom: 20px;
}

.filter-input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  color: var(--filter-doctor-fg);
  background-color: var(--filter-doctor-bg);
  border-radius: 4px;
  font-size: 18px;
  transition: border-color 0.3s ease;
}

.filter-input-group select:hover {
  border-color: #888;
}

.filter-input-group select:focus {
  border-color: var(--accent);
  outline: none;
}

.filter-input-group option {
  padding: 10px;
}

.apply-filters,
.reset-filters {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: var(--filter-doctor-fg);
}

.apply-filters {
  background-color: var(--accent);
}

.reset-filters {
  background-color: var(--filter-doctor-bg);
  border: 1px solid var(--accent);
}