.card-container {
    display: flex;
    flex-wrap: wrap; 
    /* justify-content: flex-start;  */
    gap: 5px;
    padding: 10px; 
    margin-top: 80px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0; 
    width: 100%;
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc; 
}

.separator span {
    margin: 0 10px; 
    font-weight: bold; 
}