:root {
    --light-profile-card: #ffffff;
    --dark-profile-card: #171717;
  }

  [data-theme='light'] {
    --profile-card-bg: var(--light-profile-card);
    --profile-card-fg: var(--dark-profile-card);
  }
  
  [data-theme='dark'] {
    --profile-card-bg: var(--dark-profile-card);
    --profile-card-fg: var(--light-profile-card);
  }

.profile-wrapper {
    margin-top: 50px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 50%;
    height: 620px;
  }
  
  .profile-card {
    background-color: var(--profile-card-bg);
    border-radius: 15px;
    width: 100%;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .profile-card.active .profile-card-header:after {
    border-radius: 15px;
    background-color: var(--accent);
    transition: all 0.6s ease;
  }
  
  .profile-card:hover img,
  .profile-card.active img {
    border: 5px solid var(--accent);
    width: 20%;
    height: 90%;
  }
  
  .profile-card-footer {
    transition: all 0.6s ease;
  }
  
  .profile-card:hover .profile-card-footer,
  .profile-card.active .profile-card-footer {
    background-color: var(--accent);
  }
  
  .profile-card-header {
    height: 150px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .profile-card-header:after {
    position: absolute;
    content: '';
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    height: 200px;
    z-index: -1;
    left: 0;
    top: 0;
    margin-top: -80px;
  }
  
  .profile-card-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid #fff;
    padding: 2px;
    background-color: #fff;
    transition: all 0.5s ease;
  }
  
  .profile-card-content {
    height: 110px;
  }
  
  .profile-card-content h3 {
    color: var(--profile-card-fg);
    text-transform: capitalize;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .profile-card-content p {
    color: var(--profile-card-fg);
    text-transform: capitalize;
  }
  
  .profile-card-footer {
    height: 50px;
    line-height: 50px;
  }
  
  .profile-card-footer ul {
    margin-left: 0;
  }
  
  .profile-card-footer ul li {
    display: inline-block;
    text-align: left;
  }
  
  .profile-card-footer ul li a {
    color: #fff;
    margin-left: 15px;
  }
  
  @media screen and (max-width: 650px) {
    .profile-wrapper {
      flex-direction: column;
    }
  }