:root {
    --light-services-card: #ffffff;
    --dark-services-card: #171717;
  }
  
  [data-theme='light'] {
    --services-card-bg: var(--light-services-card);
    --services-card-fg: var(--dark-services-card);
  }
  
  [data-theme='dark'] {
    --services-card-bg: var(--dark-services-card);
    --services-card-fg: var(--light-services-card);
  }

.service-card {
    display: flex; 
    max-width: 320px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--services-card-bg);
    margin: 10px 10px;
}

.service-card__info {
    padding: 20px;
}

.service-card__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--text-color);
}

.service-card__description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.service-title {
    margin-left: 15px;
}

@media (max-width: 480px) {
    .service-card {
        max-width: 100%;
        padding: 0 20px;
    }

    .service-card__title {
        font-size: 1.3rem;
    }

    .service-card__description {
        font-size: 0.8rem;
    }
}