:root {
  --light-toolbar: #ffffff;
  --dark-toolbar: #171717;

  --light-search: #ece9e9;
  --dark-search: #383838;
}

[data-theme='light'] {
  --toolbar-bg: var(--light-toolbar);
  --toolbar-fg: var(--dark-toolbar);

  --search-bg:var(--light-search);
}

[data-theme='dark'] {
  --toolbar-bg: var(--dark-toolbar);
  --toolbar-fg: var(--light-toolbar);

  --search-bg:var(--dark-search);
}

.toolbar {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: var(--toolbar-bg);
  position: fixed;
  top: 0;
  z-index: 1000; 
  padding: 0 20px;
}

.filter-search-container {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background: var(--search-bg);
  padding: 0.8rem 0.2rem;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  margin-left: 1rem;
}

.search-bar input {
  background: none;
  border: none;
  color: var(--toolbar-fg);
  width: 100%;
  outline: none;
}

.search-bar i, .filter-search-container i {
  color: var(--toolbar-fg); 
  margin: 0 0.5rem; 
  font-size: 1.2rem;
  cursor: pointer;
}