@import './Modal.css';

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: auto;
}

.filter-checkbox-group {
    display: flex;
    gap: 30px;
}

.filter-checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* .filter-checkbox-group {
    flex: 1 0 calc(50% - 20px);
    box-sizing: border-box; 
} */

.filter-modal-title{
    font-size: 24px;
    color: var(--foreground);
    margin-bottom: 15px; 
}

.filter-section{
    margin-bottom: 15px;
}
